<div fxLayout="column" fxLayoutAlign="center center" style="height: calc(100vh - 64px);">

  <div fxLayout="row" style="width: 80vw;" fxLayout.xs="column" fxLayoutAlign="center center" fxLayoutGap="5%">
    <div fxFlex="100%" fxFlex.gt-sm="55%" fxFlex.xs="100%">
      <mat-card style="height: 800px">
        <mat-card-header>
          <mat-card-title>Test</mat-card-title>
        </mat-card-header>
        <mat-card-content style="height: 100%">
          <mat-slide-toggle style="margin: 10px 0"
                            [(ngModel)]="isEdit">{{isEdit ? 'Update' : 'Read'}}</mat-slide-toggle>
          <div class="car-tab" *ngIf="isEdit">
            <div style="height: 100%" fxLayout="row" fxLayoutAlign="start start" fxFlex="auto">
              <div fxLayout="column" fxLayoutAlign="start center" fxFlex="auto">
                <div style="height: 100%; width: 100%" fxFlex="row">
                  <button mat-raised-button (click)="this.clear()" style="width: 20%; margin-bottom: 10px">Clear
                  </button>
                  <ace #edit class="query-field" style="height: 645px" [config]="config" [mode]="'javascript'"
                       [theme]="'github'"
                       [(value)]="content"></ace>
                </div>
              </div>
              <div fxFlex="35%" style="margin-top: 5%">
                <div style="margin-left: 10%" fxLayout="column" fxLayoutAlign="start stretch" fxLayoutGap="5%">
                  <div style="height: 100%" fxLayout="row" fxLayoutAlign="start start" fxLayoutGap="5%">
                    <button mat-raised-button style="width: 100%; height: 40px" [disabled]="this.content == null && this.content != ''"
                            (click)="this.createAssertion()" fxFlex="40%">Add Knowledge
                    </button>
                  </div>

                  <mat-divider style="margin: 5% 0"></mat-divider>


                  <mat-form-field appearance="outline"  style="margin: 0" appearance="fill">
                    <mat-label>UAL</mat-label>
                    <input matInput [(ngModel)]="this.updateUal" required>
                  </mat-form-field>
                  <div style="height: 100%" fxLayout="row" fxLayoutAlign="start start" fxLayoutGap="5%">
                    <button mat-raised-button (click)="this.updateAssertion()" fxFlex="40%">Update</button>
                  </div>

                  <mat-divider style="margin: 5% 0"></mat-divider>

                  <h2>Examples</h2>
                  <button mat-raised-button (click)="this.addCarExample()" style="width: 40%">Person</button>
                  <!--                  <button mat-raised-button (click)="this.addDocumentExample()" style="width: 40%">Document</button>-->
                  <!--                  <button mat-raised-button (click)="this.addWebpageExample()" style="width: 40%">Web Page</button>-->
                  <button mat-raised-button (click)="this.addPersonExample()" style="width: 40%">Person (no certs)
                  </button>
                </div>
              </div>
            </div>
          </div>


          <div class="car-tab" *ngIf="!isEdit">
            <form [formGroup]="this.searchFormGroup">
              <div fxLayout="column" fxLayoutAlign="start center" fxFlex="auto">
                <div style="height: 60%; width: 100%" fxFlex="row">
                  <mat-form-field appearance="outline" >
                    <mat-label>UAL</mat-label>
                    <input matInput formControlName="ual" required>
                  </mat-form-field>
                  <div
                    style="display: flex; align-items: flex-start; justify-content: center; gap: 10px; padding: 5px 0;">
                    <mat-form-field appearance="outline" >
                      <mat-label>State</mat-label>
                      <mat-select (selectionChange)="this.onSelectionChange($event)" [(value)]="this.selHistoryOption">
                        <mat-option [value]="option.value"
                                    *ngFor="let option of this.historyOptions">{{ option.viewValue }}</mat-option>
                      </mat-select>
                    </mat-form-field>

                    <mat-form-field appearance="outline" >
                      <mat-label>State</mat-label>
                      <input matInput formControlName="historyOption">
                      <mat-hint align="end">State hash or index</mat-hint>
                    </mat-form-field>
                  </div>
                  <div
                    style="display: flex; align-items: start;">
                    <button mat-raised-button (click)="this.readUal()"
                            style="width: 10%;">Read UAL
                    </button>
                  </div>

                  <mat-divider style="margin: 1% 0"></mat-divider>

                  <mat-card-title>SPARQL query</mat-card-title>
                  <section class="example-section">
                    <label class="example-margin">Align:</label>
                    <mat-radio-group formControlName="queryType">
                      <mat-radio-button value="SELECT">SELECT</mat-radio-button>
                      <mat-radio-button value="CONSTRUCT">CONSTRUCT</mat-radio-button>
                    </mat-radio-group>
                  </section>
                  <ace class="test-field" style="height: 150px" [config]="config" [mode]="'javascript'"
                       [theme]="'github'"
                       [(value)]="sparql"></ace>

                  <div style="padding-top: 15px; padding-bottom:15px">
                    <mat-checkbox formControlName="historical">Historical</mat-checkbox>
                    <button mat-raised-button (click)="this.querySparql()" style="width: 10%; margin-left: 15px">Query
                      SPARQL
                    </button>
                  </div>
                </div>
              </div>

            </form>
          </div>


        </mat-card-content>
      </mat-card>
    </div>

    <div fxFlex="100%" fxFlex.gt-sm="40%" fxFlex.xs="100%">
      <mat-card style="height: 800px">
        <mat-card-header>
          <mat-card-title>Response</mat-card-title>
        </mat-card-header>
        <mat-card-content style="height: 100%">
          <div class="car-tab">
            <div fxLayout="column" fxLayoutAlign="start center" fxFlex="auto">
              <div style="height: 100%; width: 100%" fxFlex="row">
                <button mat-raised-button (click)="this.ClearResponse()" style="width: 20%; margin-bottom: 10px">Clear
                </button>
                <ace class="query-field" style="height: 685px" [config]="readConfig" [mode]="'javascript'"
                     [theme]="'github'"
                     [(value)]="response"></ace>
              </div>
            </div>
          </div>


        </mat-card-content>
      </mat-card>
    </div>

  </div>


</div>
