<div fxLayout="row" fxLayout.xs="column" fxLayoutAlign="center start" fxLayoutGap="5%">
  <mat-card class="factory-card" style="width: 540px">
    <mat-card-header>
      <mat-card-title>Trusted Issuers</mat-card-title>
    </mat-card-header>
    <mat-card-content>
      <mat-list>
        <mat-list-item style="font-weight: bold" *ngFor="let ci of claimIssuers">
          <mat-icon matListItemIcon>circle</mat-icon>
          <div matListItemTitle class="issuer-item">{{ ci.account }}</div>
          <div matListItemLine class="issuer-item flex-container">
            <span class="overflow-text">Issuer address: {{ ci.privateKey }}</span>
            <button mat-icon-button [cdkCopyToClipboard]="ci.privateKey" matTooltip="Copy issuer address" color="primary">
              <mat-icon>file_copy</mat-icon>
            </button>
          </div>
        </mat-list-item>
      </mat-list>
    </mat-card-content>
  </mat-card>



<mat-card style="width: 625px" class="factory-card">
  <mat-card-header>
    <mat-card-title>Preprepared Accounts</mat-card-title>
  </mat-card-header>
  <mat-card-content>
    <div class="car-tab">

      <div class="center-content" >

        <div class="scrollable-list">
          <mat-list>
            <div *ngFor="let account of this.accounts; let i = index">
              <mat-list-item>
                <div style="width: 100%; display: flex; justify-content: space-between; align-items: center;">
                  <div>
                    <span style="font-weight: bolder">{{ account.role }}: </span>
                    <span>{{ account.account }}</span>
                  </div>
                  <button mat-icon-button [cdkCopyToClipboard]="account.privateKey" matTooltip="Copy private key" color="primary">
                    <mat-icon>file_copy</mat-icon>
                  </button>
                </div>
              </mat-list-item>
              <mat-divider></mat-divider>
            </div>
          </mat-list>
        </div>
      </div>
    </div>
  </mat-card-content>
</mat-card>
</div>
