<div fxLayout="column" fxLayoutAlign="start center" style="height: calc(100vh - 64px);">
  <!-- Subtract the height of the toolbar (e.g., 64px) from the 100vh if there's a fixed toolbar at the top -->


  <div fxLayout="row" style="width: 80vw; margin-top: 30px" fxLayout.xs="column" fxLayoutAlign="center center">
    <mat-card fxFlex="35%" style="margin-bottom: 30px; align-items: center;">
      <div *ngIf="true" fxLayout="row" style="width: 80%; margin-top: 15px" [ngStyle]="{'margin-bottom': this.contextClaimTopics ? '15px': null}" fxLayout.xs="column" fxLayoutAlign="center center" fxLayoutGap="5%">
        <mat-form-field appearance="outline" >
          <mat-label>Context</mat-label>
          <mat-select [(value)]="this.selectedContext">
            <mat-option *ngFor="let context of this.contexts" [value]="context">{{context}}</mat-option>
          </mat-select>
        </mat-form-field>
      </div>
      <div *ngIf="this.contextClaimTopics" fxLayout="row" style="width: 80%;" fxLayout.xs="column" fxLayoutAlign="center center">
        <mat-slide-toggle
          [(ngModel)]="this.useType">
          Use Type
        </mat-slide-toggle>
        <mat-form-field appearance="outline" >
          <mat-label>Type</mat-label>
          <mat-select [disabled]="!this.useType" [(value)]="this.selectedType">
            <mat-option *ngFor="let type of this.types" [value]="type">{{type}}</mat-option>
          </mat-select>
        </mat-form-field>
      </div>
    </mat-card>
  </div>


  <div fxLayout="row" style="width: 80vw;" fxLayout.xs="column" fxLayoutAlign="center center">


      <router-outlet></router-outlet>

  </div>

</div>
