<div fxLayout="row" fxLayout.xs="column" fxLayoutAlign="center start" fxLayoutGap="5%">
    <mat-card fxFlex="20%" class="factory-card">
      <mat-card-header>
        <mat-card-title>Claim Topics</mat-card-title>
      </mat-card-header>
      <mat-card-content>
        <mat-list>
          <mat-list-item class="issuer-item" style="font-weight: bold" *ngFor="let topic of claimTopics">
            <mat-icon matListItemIcon>circle</mat-icon>
            {{topic}}
          </mat-list-item>
        </mat-list>
      </mat-card-content>
    </mat-card>

    <mat-card fxFlex="45%" class="factory-card">
      <mat-card-header>
        <mat-card-title>Claim Topics Registry</mat-card-title>
      </mat-card-header>
      <mat-card-content>
        <div class="car-tab">
          <mat-card-subtitle class="subtitle">Add Claim Topic</mat-card-subtitle>

          <form class="center-content" [formGroup]="addTopicForm" (ngSubmit)="addClaimTopic()">

            <div style="width: 90%">
              <mat-form-field fxFlex="100%">
                <mat-label>Claim Topic</mat-label>
                <input matInput formControlName="topic" type="number">
              </mat-form-field>
            </div>

            <button type="submit" mat-raised-button>Add Claim Topic</button>

          </form>

          <mat-divider style="margin: 3% 0"></mat-divider>

          <mat-card-subtitle class="subtitle">Remove Claim Topic</mat-card-subtitle>

          <form class="center-content" [formGroup]="removeTopicForm" (ngSubmit)="removeClaimTopic()">

            <div style="width: 90%">
              <mat-form-field fxFlex="100%">
                <mat-label>Claim Topic</mat-label>
                <input matInput formControlName="topic" type="number">
              </mat-form-field>
            </div>

            <button type="submit" mat-raised-button>Remove Claim Topic</button>

          </form>

        </div>
      </mat-card-content>
    </mat-card>

</div>
