<div fxLayout="column" fxLayoutAlign="center center" style="height: calc(100vh - 64px);">
<mat-card class="factory-card">
  <mat-card-header>
    <mat-card-title>Accounts</mat-card-title>
  </mat-card-header>
  <mat-card-content>
    <div class="car-tab">

      <form class="center-content" [formGroup]="editAgentForm">

        <div style="width: 90%">
          <div>
            <mat-form-field fxFlex="100%">
              <mat-label>Agent Address</mat-label>
              <input matInput type="text" formControlName="agentAddress">
            </mat-form-field>
          </div>
        </div>
        <div style="width: 90%" fxLayout="row" fxLayoutAlign="space-between center">
          <button type="submit" mat-raised-button fxFlex="50%">Add Agent</button>
          <button type="submit" mat-raised-button fxFlex="50%">Delete Agent</button>
        </div>
      </form>

      <mat-divider style="margin: 3% 0"></mat-divider>

    </div>
  </mat-card-content>
</mat-card>
</div>
