<!--<div class="full-screen" id="container"></div>-->
<!--<ifc-viewer-panel></ifc-viewer-panel>-->
<!-- ifc-viewer.component.html -->
<div class="viewer-container">
  <div class="panel-container">
    <bim-panel label="Element properties">
      <div style="display: flex; justify-content: center">
          <div style="width: 80%;">
            <bim-button (click)="this.loadIfc()" label="Load IFC"></bim-button>
          </div>
      </div>
      <bim-panel-section label="Element Data">
        <div style="display: flex; gap: 0.5rem;">
          <bim-button (click)="this.expandTable($event)"
                      [label]="propertiesTable?.expanded ? 'Collapse' : 'Expand'"></bim-button>
          <bim-button (click)="this.copyAsTSV()" label="Copy as TSV"></bim-button>
        </div>
        <bim-text-input (input)="this.onTextInput($event)" placeholder="Search Property"
                        debounce="250"></bim-text-input>
        <div class="panel-section" #table></div>
      </bim-panel-section>
      <bim-panel-section label="Relations Tree">
        <div class="panel-section" #relationsTree></div>
      </bim-panel-section>
    </bim-panel>
  </div>
  <div class="full-screen" id="container"></div>

</div>
