.viewer-container {
  display: flex;  /* Enables flexbox */
  width: 80vw;
  height: 80vh;
  overflow: hidden;
}

.panel-container {
  width: 30%;  /* Takes up 30% of the width */
  max-width: 700px;
  padding: 1rem;
  overflow-y: auto;
}

.full-screen {
  height: 100%;
  overflow: hidden;
}


.panel-section {
  overflow: auto; /* Make the panel scrollable when content exceeds max-height */
  max-height: 400px;
}

.minimap {
  position: fixed;
  bottom: 1rem;
  right: 1rem;
  z-index: 3; /* Ensure it's above both the viewer and the panel */
}

.options-menu {
  position: fixed;
  min-width: unset;
  top: 5px;
  right: 5px;
  max-height: calc(100vh - 10px);
}

.phone-menu-toggler {
  visibility: hidden;
}

@media (max-width: 480px) {
  .options-menu {
    visibility: hidden;
    bottom: 5px;
    left: 5px;
  }

  .options-menu-visible {
    visibility: visible;
  }

  .phone-menu-toggler {
    visibility: visible;
    position: fixed;
    top: 5px;
    right: 5px;
  }
}
