<div class="viewer-container" fxLayout="row">
  <div class="full-screen" id="container" style="width: calc(100% - 700px)"></div>
  <div class="panel-container" style="width: 700px">
    <bim-panel label="Element Properties" style="width: 680px">
      <bim-panel-section label="Element Data">
        <div style="display: flex; gap: 0.5rem;">
          <bim-button (click)="this.expandTable($event)"
                      [label]="propertiesTable?.expanded ? 'Collapse' : 'Expand'"></bim-button>
          <bim-button (click)="this.copyAsTSV()" label="Copy as TSV"></bim-button>
        </div>
        <bim-text-input (input)="this.onTextInput($event)" placeholder="Search Property"
                        debounce="250"></bim-text-input>
        <div class="panel-section" #table></div>
      </bim-panel-section>
      <bim-panel-section label="Relations Tree">
        <div class="panel-section" #relationsTree></div>
      </bim-panel-section>
    </bim-panel>
  </div>
</div>
